/*****************/
/*Sticky Footer*/
/*****************/

html,body
{
height:100%;
/*padding-top: 70px;*/
}

#wrap
{
padding-top: 70px;
min-height: 100%;
/*background-color: green;*/
}

#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer
{
position: relative;
margin-top: -100px; /* negative value of footer height */
height: 100px;
clear:both;
padding-top:20px;
border-top: 2px solid black;
/*color:#fff;*/
background-color: white !important;
}
/*****************/
/*Login popup box*/
/*****************/

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/* Modal box or Popup box */
.popupContainer{
    position:absolute;
    width:330px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}


/* Popup Styles*/
.popupHeader  {
    font-size: 16px;
     text-transform:  uppercase;
}

.popupHeader  {
    background: #F4F4F2;
     position: relative;
     padding: 10px 20px;
     border-bottom: 1px solid #DDD;
     font-weight: bold;
}

.popupHeader .modal_close  {
    position:  absolute;
     right:  0;
     top: 0;
     padding: 10px 15px;
     background: #E4E4E2;
     cursor:  pointer;
     color: #aaa;
     font-size: 16px;
}

.popupBody  {
    padding: 20px;
}

/********************/
/*Login Page Styling*/
/********************/

.hero{
    border: 2px solid black;
}

.login{
    padding: 20% 0 20% 0;
}

.wrapper{
    width: 100%;
    border: 2px solid green;
}

/*img{*/
    /*background-image: url('../img/background.jpg')*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
