/*****************/
/*Sticky Footer*/
/*****************/

html,body
{
height:100%;
}

#logo{
    width: 0 auto;
    height: 50px;
    display:inline-block;
    float: left;
}

h1{
    color:#303e49 !important;
    display:inline-block;
    height: 50px;
    float: left;
    padding: 0;
    margin: 0 auto;
    font-weight: bold;
}

.nav li a{
  color:#303e49 !important;

}
#wrap
{
padding-top: 70px;
min-height: 100%;
background-image:url('../img/people.jpg');
/*background-repeat: no-repeat;*/
background-position: center;
background-size: cover;
width: 100%;
    /*height: 100%;*/
    height: 700px;
}

#main
{
overflow:auto;
padding-bottom:150px;
}

.footer
{
position: relative;
margin-top: -10px;
height: 10px;
clear:both;
padding-top:20px;
border-top: 2px solid black;
/*color:#fff;*/
background-color: white !important;
}

/*****************/
/****Register*****/
/*****************/
.register{
    background-color:#f8f8f8 ;
    /*padding:3% 1% 3% 2%;*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color:#303e49;
    width: 50%;
    /*height:500px;*/
    margin-left:25%;
    padding-bottom:5%;
    padding-top:5%;
}

/*****************/
/*Login popup box*/
/*****************/

#modal_trigger  {
    /*martin-top: 50%;*/
    /*margin-top: 23%;*/
    /*margin-left: 40%;*/
     /*width: 100px;*/
     /*display: block;*/
}

.hero .btn  {
    margin-top: 50%;
    background:  #F4F4F2;
    font-weight: bold;
    color: #d25421;
    font-size: 2em;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

 /*Modal box or Popup box */
.popupContainer{
    position:absolute;
    width:330px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}


 /*Popup Styles*/
.popupHeader  {
    font-size: 16px;
     text-transform:  uppercase;
}

.popupHeader  {
    background: #F4F4F2;
     position: relative;
     padding: 10px 20px;
     border-bottom: 1px solid #DDD;
     font-weight: bold;
}

.popupHeader .modal_close  {
    position:  absolute;
     right:  0;
     top: 0;
     padding: 10px 15px;
     background: #E4E4E2;
     cursor:  pointer;
     color: #aaa;
     font-size: 16px;
}

.popupBody  {
    padding: 20px;
}

.popupBody .btn{
    padding-right: 5%;
    margin-top: 3%;
    margin-left: 17%;
    margin-bottom: 5%;
}

/********************/
/*Login Page Styling*/
/********************/

/********************/
/*SALVATORRE*/
/********************/

h4{
    font-size: 1.2em;
    /*border: 1px solid green;*/
    text-align: center;
}
#timeline {
    margin: 50px 0;
}
.post img {
    width: 100%;
}

.post{
  background: #ffffff;
  margin: 10px 5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  z-index: 999;
}
/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
 */

/* Salvattore Base Styles */
.column {
    float: left;
}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}

/* Configurate salvattore with media queries */
@media screen and (max-width: 450px) {
    #posts[data-columns]::before {
        content: '2 .column.size-1of2';
    }
    .post{
    	padding: 15px;
    }
}

@media screen and (min-width: 451px) and (max-width: 850px) {
    #posts[data-columns]::before {
        content: '3 .column.size-1of3';
    }
    .post{
    	padding: 9.9px;
    }
}

@media screen and (min-width: 851px) {
    #posts[data-columns]::before {
        content: '4 .column.size-1of4';
    }
    .post{
    	padding: 7.5px;
    }

}

/********************/
/*SHOPPING CART TABLE*/
/********************/

.cart{
    background-color:#f8f8f8 ;
    padding-left: 3%;
    padding-bottom: 2%;
    padding-right: 3%;
    padding-top: 3%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.cart p{
    font-size: 1.2em;
    padding-left: 1%;
    font-weight: bolder;
}

/********************/
/*MENU*/
/********************/

.menu_restaurant{
    color: black;
    /*padding: 2%;*/
}
.menu p{
    font-size: 1.3em;
}
.menu span{
    font-size: 1em;
}

.menu{
    margin-left: 10%;
    background-color:#f8f8f8 ;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.menu .test2{
    padding-top:5%;
}

#type{
   /*border: 2px solid green;*/
   border-bottom: 2px solid #9bb672;
}

/********************/
/*PROFILE************/
/********************/

.profile{
    /*margin-left: 10%;*/
    background-color:#f8f8f8 ;
    padding:3% 1% 3% 2%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 1.3em;
    /*text-align: center;*/
}
.profile span{
    font-weight: bold;
}

.checkout{
    /*margin-left: 10%;*/
    background-color:#f8f8f8 ;
    padding:3% 1% 3% 2%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*font-size: 1.3em;*/
    text-align: center;
}


/********************/
/*Restaurant Info****/
/********************/

.yelp-info{
    background-color:#f8f8f8 ;
    /*padding:3% 1% 3% 2%;*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color:#303e49;
    height:500px;
}

.details{
    background-color:#aaaaaa;
    padding:3% 1% 3% 2%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color:#494949 ;
    margin: 3%;
    font-size: 1.5em;
}

.deets{
    width:30%;
}

.ratings{
   background-color:#aaaaaa;
   color:#494949;
    /*padding:3% 1% 3% 2%;*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top:4%;
    font-size: 1.5em;
}

.photo{
    margin: 3%;
}

#buttons{
    color:#f8f8f8;
    margin: 2%;
    text-decoration: none;
}



.rating-count{
    /*border: 2px solid red;*/
    margin: 3%;
}

.review{
    /*border: 2px solid green;*/
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 0;
}

.rating-info{
    /*border: 2px solid purple;*/
    margin-bottom:2%;
    margin-right: 6%;
    margin-left: 7%;

}