{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="wrapper">
{#    <img src="" clas="img-responsive" alt="Responsive imgae">#}
    <div class="hero">
            <div class="row login">
                <div class="col-sm-4 col-sm-offset-5">
                     <a id="modal_trigger" href="#modal" class="btn btn-default btn-lg">Login/Register</a>
                </div>
            </div>
     </div>
 </div>
    <div id="modal" class="popupContainer" style="display:none;">
        <header class="popupHeader">
            <span class="header_title">Login</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </header>
        <section class="popupBody">
            <div class="user_login">
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input class="btn btn-default" type="submit" value="Log in">
                    <div class="register">
                      <a class="btn btn-default" href="{% url 'register' %}">Sign Up</a>
                    </div>
                </form>
            </div>
{#            <a href="{% url 'password_reset' %}">Forgot password?</a>#}
{#                    Insert password reset form here?#}
        </section>
    </div>

<script type="text/javascript">
    $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
    $(function () {
        $("#register_form").click(function () {
            $(".user_login").hide();
            $(".user_register").show();
            $(".header_title").text('Register');
            return false;
        });
    })

</script>
{% endblock %}
