{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>
  </head>
  <body>

      <div id="wrap">
          <div id="main" class="container clear-top">
              <div class="row">
                  <div class="span12">
                        <!-- Navbar -->
                        <div class="navbar navbar-default navbar-fixed-top">
                          <div class="container">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse">
                              <ul class="nav navbar-nav navbar-right">
{#                                <li class="active"><a href="#">Home</a></li>#}
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'search' %}">Restaurants</a></li>
                                    <li><a href="{% url 'profile' %}">Profile</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                {% endif %}
                              </ul>
                            </div>
                          </div>
                        </div>
{#                        <div>FACE STUFFER</div>#}
                        {% block content %}{% endblock content %}
                  </div>
              </div>
          </div>
      </div>
{#      {% block content %}{% endblock content %}#}
    <!-- Footer -->
      <footer class="footer">
          <div class="row">
            <div class="col-sm-2 pull-right">
              <p>&copy; 2014 Brittney Kistner.</p>
            </div>
          </div>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script type="text/javascript">
          $("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
             $(function () {
                // Calling Login Form
                $("#login_form").click(function () {
                    $(".social_login").hide();
                    $(".user_login").show();
                    return false;
             });
      </script>
  </body>
</html>