{% extends "base.html" %}
{% block content %}
{#customer image#}
{#   restaurants tried#}
{#payment information#}
{#     <p>Payment Information: {{ customer.}}</p>#}

{#member since#}
     <p>Member Since: {{ customer.date_joined }}</p>
{#password settings#}
{#    <p>Password: {{ customer.password }}</p>#}
{#first name#}
     <p>First Name: {{ customer.first_name }}</p>
{#last_name#}
     <p>Last Name: {{ customer.last_name }}</p>
{#email#}
     <p>Email Address: {{ customer.email }}</p>
{#edit profile#}
    <a class="btn btn-default" href="#">Edit Profile</a>

{% endblock %}