{% extends "base.html" %}
{% block content %}
{#customer image#}
{#   restaurants tried#}
{#payment information#}
{#     <p>Payment Information: {{ customer.}}</p>#}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 profile">
        {#email#}
             <p><span>Email Address:</span> {{ customer.email }}</p>
         {#first name#}
             <p><span>First Name:</span> {{ customer.first_name }}</p>
        {#last_name#}
             <p><span>Last Name:</span> {{ customer.last_name }}</p>
        {#member since#}
             <p><span>Member Since:</span> {{ customer.date_joined }}</p>
        {#password settings#}
        {#    <p>Password: {{ customer.password }}</p>#}
        {#edit profile#}
            <a class="btn btn-default" href="#">Edit Profile</a>
        </div>
    </div>
</div>
{% endblock %}