{#Box 1: You have the menu.  iterate through foods to populate menu by food.tag and then food.name and food.price#}

{#Box 2: Shopping Cart Form#}


{% extends "base.html" %}
{% block content %}

    {% for food, form in foods.items %}
        {{ food.name }}
        <form method="POST" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"/>
        </form>
    {% endfor %}

<div class="container cart">
Shopping Cart
    {% for food_quantity in shopping_cart.food_quantities.all %}
        <p>{{ food_quantity.food.name }}</p>
        <p>{{ food_quantity.quantity}}</p>
        <p>{{ food_quantity.food.price}}</p>
    {% endfor %}
{#Checkout Button#}
{#   <a class="btn btn-default" href="{% url 'checkout' shopping_cart.id %}">Checkout</a>#}
</div>
{% endblock %}


