{#Box 1: You have the menu.  iterate through foods to populate menu by food.tag and then food.name and food.price#}
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{# FoodQuantityForm/foods hash #}
<div class="container-fluid menu_restaurant">
    <div class="row">
        <div class="col-sm-5 test">
            <div class="row menu">
                {% for food_type, food_ls in types.items %}
{#                    <h5>{{ food_type }}</h5>#}
                    <p id="type">{{ food_type }}</p>
                    {% for food, form in foods.items %}
                        {% if food.tag == food_type %}
                            <div id="item">
                                <div class="col-sm-7 test2">
                                    {{ food.name }}
                                </div>
                                <div class="col-sm-5 test3">
                                    <form method="POST" action=".">
                                        {% csrf_token %}
                                        {% crispy form %}
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
{# Shopping Cart Form #}
        <div class="col-sm-4 col-sm-offset-2 cart">
            <div class="row">
                <table class="table table-condensed table-responsive">
                    <p>Summary</p>
                    <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                    </tr>
                    {% for food_quantity in shopping_cart.food_quantities.all %}
                    <tr>
                        <td>{{ food_quantity.food.name }}</td>
                        <td>{{ food_quantity.quantity}}</td>
                        <td>{{ food_quantity.food.price}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {#SUBTOTAL#}
        {{shopping_cart.total}}
            <div class="row">
{#            Checkout Button#}
                {% if shopping_cart%}
                    <a class="btn btn-default" href="{% url 'checkout' shopping_cart.id %}">Checkout</a>
                    {% else %}
{#                            Checkout: <a class="btn btn-default" href="{% url 'checkout' shopping_cart.id %}">Checkout</a>#}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}




