{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<!-- Content -->
	<div class="container">
		<div id="posts" data-columns >
            {% for restaurant in restaurants %}#}
                <div class="post">
                    <a href="{%  url 'get_menu' restaurant.id %}"><img width="100px" src="{{ restaurant.img.url }}"></a>
{#                    <p>{{ restaurant.name }}</p>#}
                    <h4 id="post-tag">{{ restaurant.name }}</h4>
                </div>
            {% endfor %}
		</div>
	</div>
{% endblock %}
