{#Iterate over restaurants and style the restaurant.name, restaurant.img, and include link on each image to go to that restaurant's menu page#}
{#When clicking on a restaurant <a href="{% url "get_menu" restaurant.id %}"></a>#}

{#{% extends "base.html" %}#}
{% load staticfiles %}

{#{% block content %}#}
{##}
{#<div class="container">#}

{#    {% for restaurant in restaurants %}#}
{#        <li><a href="{%  url 'get_menu' restaurant.id %}"><img width="100px" src="{{ restaurant.img.url }}"></a></li>#}
{#        <p>{{ restaurant.name }}</p>#}
{#    {% endfor %}#}
{#</div>#}
{#    #}
{##}
{##}
{##}
{#{% endblock %}#}
{#        <div id="grid" data-columns>#}
{#            {% for restaurant in restaurants %}#}
{#                <div><a href="{%  url 'get_menu' restaurant.id %}"><img width="100px" src="{{ restaurant.img.url }}"></a></div>#}
{#                <p>{{ restaurant.name }}</p>#}
{#            {% endfor %}#}
{#        </div>#}


<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bootstrap 3 + Salvattore Example, A 'jQuery Masonry' alternative with CSS-driven configuration.</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/stylesheet3.css' %}">
</head>
<body>



	<!-- Header -->

	<header class="container">
		<div class="lead">
		</div>
		<div class="malaysia">
		</div>
		<hr>
	</header>
	<!-- Content -->
	<div class="container">
		<div id="posts" data-columns >
            {% for restaurant in restaurants %}#}
                <div class="post">
                    <a href="{%  url 'get_menu' restaurant.id %}"><img width="100px" src="{{ restaurant.img.url }}"></a>
    {#                <p>{{ restaurant.name }}</p>#}
                </div>
            {% endfor %}
{#            <div class="post">#}
{#                {% for restaurant in restaurants %}#}
{#                <a href="{%  url 'get_menu' restaurant.id %}"><img width="100px" src="{{ restaurant.img.url }}"></a>#}
{#                <p>{{ restaurant.name }}</p>#}
{#                {% endfor %}#}
{#			</div>#}

		</div>
	</div>



	<!-- Footer -->

	<footer class="container">
		<hr>
	</footer>


	      <!-- The script must be included at the bottom of the body to work -->
	    <script src="{% static 'js/salvattore.js' %}"></script>
	</body>
</html>